.toggle-switch-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .info-icon {
    color: #efefef;
  }
  
  .toggle-label {
    color: #efefef;
    font-size: 14px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    transition: .4s;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #bb7f2a;
  }
  
  input:checked + .slider::before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .model-selector {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .model-name {
    color: #efefef;
    font-size: 14px;
    margin-right: 5px;
  }
  